h1 {
    font-size: 30px;
    color: #333;
    text-align: center;
}

h2 {
    font-size: 26px;
    color: burlywood;
}

.Logobot img {
    display: block;
    height: auto;
    align-items: center;
    border: 2px #555;
    margin: 0 auto;
}

.functional ul{
    list-style-type: disc;
    margin-left: 20px;
    color: #666

}

.functional li {
    margin-bottom: 10px;
}

.link a {
    color: #007bff;
    text-decoration: none;
}


body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


.Logobot, .functional, .link {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.button {
  background-color: white;
  border: 2px solid #e7e7e7;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}